
:root {
    --primary-color: #102E16; 
    --secondary-color: #DAE2CB;
    --accent-color: #88744B; 
    --text-color: #525647;
    --light-text-color: #C6D6B1;

    --font-main: 'Lato', sans-serif;
    --font-heading: 'Playfair Display', serif;
    --font-accent: 'Italianno', cursive; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    color: var(--text-color);
    background-color: var(--secondary-color); /* Світлий фон [cite: 128] */
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: var(--font-heading);
    color: var(--primary-color);
    margin-bottom: 0.5em;
}

h1 { font-size: 2.5em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.3em; }

p {
    margin-bottom: 1em;
}

/* посилання */
a {
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--primary-color);
}
