
:root {
    /* Світла тема */
    --primary-color: #102E16; 
    --secondary-color: #DAE2CB;
    --accent-color: #88744B; 
    --text-color: #525647;
    --hover-color: #C6D6B1; /* Салатовий для наведення */

    /* Темна тема (Коричневі тони) */
    --bg-dark: #3E2723;       /* Глибокий коричневий */
    --card-dark: #5D4037;     /* Світліший коричневий для блоків */
    --text-dark: #D7CCC8;     /* Бежевий текст */


:root {
    --primary-color: #102E16; 
    --secondary-color: #DAE2CB;
    --accent-color: #88744B; 
    --text-color: #525647;
    --light-text-color: #C6D6B1;
    --font-main: 'Lato', sans-serif;
    --font-heading: 'Playfair Display', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    color: var(--text-color);
    background-color: var(--secondary-color);
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;
}

/* Глобальний темний режим */
body.dark-theme {
    background-color: var(--bg-dark);
    color: var(--text-dark);
}

body.dark-theme h1, 
body.dark-theme h2, 
body.dark-theme h3 {
    color: var(--text-dark);
}

h1, h2, h3 {
    font-family: var(--font-heading);
    color: var(--primary-color);

}

    margin-bottom: 0.5em;
}

h1 { font-size: 2.5em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.3em; }

p {
    margin-bottom: 1em;
}

/* посилання */
a {
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--primary-color);
}

