main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.features-grid {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.features-grid li {
    list-style: none;
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    flex: 1;
}

/* Картки в темному режимі */
body.dark-theme .features-grid li {
    background-color: var(--card-dark);
    color: var(--text-dark);
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

body.dark-theme footer {
    background-color: #1B0000; /* Дуже темний коричневий для футера */
}